In [1]:
import numpy as np

In [17]:
r = np.arange(36)
r

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35])

In [18]:
r.resize(6,6)
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [20]:
r[2,3]

15

In [24]:
r[3, :3]

array([18, 19, 20])

In [30]:
r[::-2, -1]

array([35, 23, 11])

In [37]:
r2 = r
r2 = r2**2
r2

array([[   0,    1,    4,    9,   16,   25],
       [  36,   49,   64,   81,  100,  121],
       [ 144,  169,  196,  225,  256,  289],
       [ 324,  361,  400,  441,  484,  529],
       [ 576,  625,  676,  729,  784,  841],
       [ 900,  961, 1024, 1089, 1156, 1225]], dtype=int32)

In [38]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [39]:
r2[r2<=25] = 0
r2

array([[   0,    0,    0,    0,    0,    0],
       [  36,   49,   64,   81,  100,  121],
       [ 144,  169,  196,  225,  256,  289],
       [ 324,  361,  400,  441,  484,  529],
       [ 576,  625,  676,  729,  784,  841],
       [ 900,  961, 1024, 1089, 1156, 1225]], dtype=int32)

In [40]:
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [41]:
r[::7]

array([[0, 1, 2, 3, 4, 5]])

In [42]:
r[:, ::7]

array([[ 0],
       [ 6],
       [12],
       [18],
       [24],
       [30]])

In [43]:
r.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])

In [44]:
type(lambda x: x+1)

function

In [2]:
import pandas as pd

In [9]:
pd.Series({'a' : 'elephant', 'b' : 'ant'}, name='point')

a    elephant
b         ant
Name: point, dtype: object

In [3]:
dd = pd.Series({'c' : 'egg', 'd' : 'banana'})

In [4]:
dd

c       egg
d    banana
dtype: object